body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1em;
  background-color: #333;
  opacity: 40%;
  color: white;
}

header h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
  opacity: 0;
  font-size: 5vw;
}

p {
  font-size: 3vw;
}

.about-content p {
  opacity: 0;
}

/* Desktop Navigation Styles */
.desktop-nav {
  display: flex;
  justify-content: flex-end; /* Center the menu horizontally */
  padding: 1em 0;
  position: absolute;
  right: 0;
  padding-right: 5%;
}

.desktop-nav ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
  margin: 0;
  padding: 0;
}

.desktop-nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5em;
}

.desktop-nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

/* Mobile Navigation Styles */
.mobile-nav {
  display: none; /* Hide mobile menu by default */
  position: absolute;
  right: 0;
  padding-right: 3%;
}

.hamburger {
  background: none;
  border: none;
  color: white;
  background-color: #878787;
  border-radius: 10%;
  font-size: 1.5em;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 3em;
  right: 1em;
  background-color: #333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
  width: 150px;
  flex-direction: column;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  padding: 1em;
  display: block;
}

.mobile-menu a:hover {
  background-color: #555;
}

.circle {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  background-image: url("/gurl.jpg");
  background-size: cover; /* Ensures the image covers the entire circle */
  justify-self: center;
  opacity: 0%;
  margin-bottom: 5%;
}

.box {
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  box-sizing: border-box; /* Include padding in size */
}
.content {
  text-align: start;
  font-size: 2rem;
  color: black;
}
.welcome-content {
  text-align: start;
  font-size: 2rem;
  color: black;
}
.about-content {
  text-align: start;
  padding-top: 5%;
  padding-left: 3%;
  font-size: 2rem;
  color: black;
  margin-left: 10%;
  margin-right: 10%;
  background-color: pink;
  border-radius: 10px;
  display: grid; /* Enable grid layout */
  grid-template-columns: 1fr;
}

#scrollButton {
  color: black;
  font-size: 24px;
  border: none;
  cursor: pointer; /* Change cursor to pointer when hovered */
  display: block;
  margin: 20px auto;
  margin-bottom: 20px;
  transition: color 0.7s ease; /* Smooth background color transition */
}

.fade-in {
  opacity: 0;
  animation: fade-in-an 2s forwards;
}

@keyframes fade-in-an {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.line-up {
  opacity: 0;
  transform: translateX(-30px);
  animation: side-scroll 2s forwards;
}

@keyframes side-scroll {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade {
  opacity: 0;
  transform: translateY(20px);
  animation: scroll-in 2s forwards;
  animation-delay: 0.5s;
}

.fade-out {
  opacity: 0;
  transform: translateY(20px);
}

@keyframes scroll-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Hover effect */
#scrollButton:hover {
  color: darkred;
}

/* Media Queries */
@media (min-width: 768px) {
  /* Show desktop nav on large screens */
  .desktop-nav {
    display: flex;
  }

  /* Hide mobile nav on large screens */
  .mobile-nav {
    display: none;
  }

  #about-container {
    display: block;
  }
  .about-content {
    grid-template-columns: 1fr 1fr; /* Two columns for larger screens */
    grid-template-areas: "left-column circle";
  }
  .circle {
    grid-area: circle; /* Place in the second column */
    justify-self: center; /* Center in column */
    align-self: center;
  }

  .left-column {
    grid-area: left-column; /* Place in the first column */
  }
}

@media (max-width: 767px) {
  /* Hide desktop nav on small screens */
  .desktop-nav {
    display: none;
  }

  /* Show mobile nav on small screens */
  .mobile-nav {
    display: block;
  }

  #about-container {
    display: block;
  }
}
